#cuerpo {
	margin-left:50px;
	margin-top:30px;
}

.campoTxt {
	position:absolute;
	left:340px;
	width:275px;
}

textarea {
	margin-top:8px;
	width:565px;
	height:200px;
}

#boton {
	height:30px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}