#cuerpo {
	margin:50px;
}

.campoConsulta {
	position:absolute;
	left:190px;
	width:275px;
}

textarea {
	margin-top:8px;
	width:415px;
	height:200px;
}

#botonConsulta {
	width:415px;
	height:30px;
	text-align:center;
}
