.producto {
	width:90%;
	height:180px;
	margin:10px;
}

.imagen {
	width:180px;
	height:180px;
}

.descripcion {
	position:relative;
	top:-180px;
	left:200px;
	width:90%;
	padding-top:0.5em;
}

.separador {
	height:30px;
	background-color:#5C7CE9;
	margin-left:8px;
	margin-right:8px;
	text-align:center;
	color:#FFFFFF;
	font-variant:small-caps;
	padding-top:0.5em;
}

#encabezado {
	margin-bottom:10px;
}