.contenedor {
	width:900px;
	overflow: hidden;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: -15px;
	overflow:hidden;
}
.prdDesc{
	float: left;
	padding-bottom: 20px;
	padding-right: 20px;
	position: relative;
	padding-left: 15px;
	padding-top: 30px;
	overflow:hidden;
}
.txtdescrip {
	font-size:10px;
	font-family: "Trebuchet MS";
	margin-top: -5px;
	float:right;

}
.extendida {
	font-size:18px;
	font-family: "Trebuchet MS";
	font-weight:bold;
	color: red;
	float:right;
	margin-top: 16px;
}

.columnaizq {
float:left;
height:50%;
width:50%;
}

.columnader {
float:right;
height:50%;
width:50%;
}
.articulo {
height:50%;
width:100%;
align:top;

}

img { 
  width: 200px;
  height: 100px;
}
imagen {
	  float: left;
}